<ion-view>
<ion-content>
  <div class="card">
    <div class="row">
      <div class="item item-avatar">
        <img style="height: 40px;" src="img/ionic.png">
        <strong>Imrb</strong>
        <p>Mobile Meter</p>
      </div>
    </div>
    <div class="item item-body">
      <div class="row">
        <div class="col-80">
          <p style="margin-top: 0px;">Complete this offer to get ₹10 free Paytm cash</p>
        </div>
        <div class="col-20">
          <button class="button button-small button-assertive">GET IT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="item item-avatar">
        <img style="height: 40px;" src="img/ionic.png">
        <strong>Imrb</strong>
        <p>Mobile Meter</p>
      </div>
    </div>
    <div class="item item-body">
      <div class="row">
        <div class="col-80">
          <p style="margin-top: 0px;">Complete this offer to get ₹10 free Paytm cash</p>
        </div>
        <div class="col-20">
          <button class="button button-small button-assertive">GET IT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="row">
      <div class="item item-avatar">
        <img style="height: 40px;" src="img/ionic.png">
        <strong>Imrb</strong>
        <p>Mobile Meter</p>
      </div>
    </div>
    <div class="item item-body">
      <div class="row">
        <div class="col-80">
          <p style="margin-top: 0px;">Complete this offer to get ₹10 free Paytm cash</p>
        </div>
        <div class="col-20">
          <button class="button button-small button-assertive">GET IT</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>