<ion-view>
  <ion-content>
    <form class="">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email or Mobile" name="username" required>
        </label>
        <label class="item item-input" >
          <input type="password" placeholder="Password" name="pass" required>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ui-sref="installapp">Log In</button>
      </div>
    </form>
     <div class="row padding">
         <button class="button button-positive button-block">Login With Facebook</button>
     </div>
     <div class="row padding">
       <button class="button button-assertive button-block">Login With Google </button>
     </div>
     <div class="padding text-center">
      	<p>New Here ?<a class="" ui-sref="register"> Sign Up</a></p>
     </div>
  </ion-content>
</ion-view>
