<ion-view view-title="Transaction History">
  <ion-content>
    <!-- <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list> -->
    <div class="card">
    	<div class="text-center">
    		<h6>Available Balance</h6>
    		<h4>₹ 450.00</h4>
    	</div>
    	<div class="row">
    		<div class="col text-center" style="border-style: groove;border-width: 0px 1px 0px 0px;">
				<i class="ion-ios-upload"></i> <span>Send Money to Bank</span>    		
    		</div>
    		<div class="col text-center">
    			<i class="ion-ios-download"></i> <span>Add Money to Wallet</span>
    		</div>
    	</div>
    </div>
    <div class="padding-horizontal">
    	<label>Nevember 2016</label>
    </div>
    <div class="card">
    	<div class="list">
    		<div class="row item">
	        	<div class="col col-20 item-avatar">
	        		<img src="img/ionic.png" style="width:40px;height:auto;">	          		
	        	</div>
	        	<div class="col col-60">
	          		<h4>Paid for Order</h4>
		      		<p>To: Mike</p>
		      		<p>November 16, 16:15</p>
	        	</div>
	        	<div class="col col-20 text-center">
	        		 <p>-₹ 213</p>
	        	</div>
      		</div>
      		<div class="row item">
	        	<div class="col col-20 item-avatar">
	        		<img src="img/ionic.png" style="width:40px;height:auto;">	          		
	        	</div>
	        	<div class="col col-60">
	          		<h4>Paid for Order</h4>
		      		<p>To: Mike</p>
		      		<p>November 16, 16:15</p>
	        	</div>
	        	<div class="col col-20 text-center">
	        		 <p>-₹ 213</p>
	        	</div>
      		</div>
      		<div class="row item">
	        	<div class="col col-20 item-avatar">
	        		<img src="img/ionic.png" style="width:40px;height:auto;">	          		
	        	</div>
	        	<div class="col col-60">
	          		<h4>Paid for Order</h4>
		      		<p>To: Mike</p>
		      		<p>November 16, 16:15</p>
	        	</div>
	        	<div class="col col-20 text-center">
	        		 <p>-₹ 213</p>
	        	</div>
      		</div>
      		<div class="row item">
	        	<div class="col col-20 item-avatar">
	        		<img src="img/ionic.png" style="width:40px;height:auto;">	          		
	        	</div>
	        	<div class="col col-60">
	          		<h4>Paid for Order</h4>
		      		<p>To: Mike</p>
		      		<p>November 16, 16:15</p>
	        	</div>
	        	<div class="col col-20 text-center">
	        		 <p>-₹ 213</p>
	        	</div>
      		</div>
      		<div class="row item">
	        	<div class="col col-20 item-avatar">
	        		<img src="img/ionic.png" style="width:40px;height:auto;">	          		
	        	</div>
	        	<div class="col col-60">
	          		<h4>Paid for Order</h4>
		      		<p>To: Mike</p>
		      		<p>November 16, 16:15</p>
	        	</div>
	        	<div class="col col-20 text-center">
	        		 <p>-₹ 213</p>
	        	</div>
      		</div>
      	</div>
    </div>
  </ion-content>
</ion-view>
